---
name: Test ansible role

"on":
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
        scenario:
          - debian-11
          - debian-12
          - ubuntu-2204
          - ubuntu-2404

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install ansible docker molecule molecule-plugins[docker] pytest-testinfra

      - name: Run Molecule
        run: molecule --base-config molecule/shared/base.yml test --scenario-name ${{ matrix.scenario }}
        env:
          ANSIBLE_FORCE_COLOR: "1"
          PY_COLORS: "1"
